.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 110px;
    height: 1325px;
    display: flex;
    flex-direction: column;
    position: relative;

    .textPicture {
        display: flex;
        margin-bottom: 30px;
    }

    .textBox {
        background-color: #443224;
        border-radius: 25px;
        width: 70%;
        height: 200px;
        padding: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 300px;

        p {
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 28px;
            max-height: 200px;
            min-width: 200px;
        }

        .author {
            margin-top: 5px;
            font-weight: bold;
            color: #fac38f;
        }
    }

    img {
        width: 30%;
        height: 228px;
        object-fit: cover;
        border-radius: 100px;
    }
}

@media only screen and (max-width: 1723px) {
    .content {
        .textBox {
            p {
                font-size: 25px;
            }
        }
    }
}


@media only screen and (max-width: 1293px) {

    .content {
        height: 2470px;
    }

    .textPicture {
        flex-direction: column;

        .textBox {
            margin: 0 auto;

            p {
                font-size: 23px;
            }
        }

        img {
            margin: 0 auto;
            width: 600px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .content {
        flex-direction: column;

        .textBox {
            margin: 0 auto;

            p {
                font-size: 21px;
            }
        }

        img {
            margin: 0 auto;
            width: 450px;
        }
    }
}

@media only screen and (max-width: 911px) {

    .splashTitle {
        h1 {
            font-size: 80px;
            padding-top: 20px;
        }
    }

    .content {
        flex-direction: column;

        .textBox {
            margin: 0 auto;

            p {
                font-size: 16px;
            }
        }

        img {
            margin: 0 auto;
            width: 330px;
        }
    }
}