nav {
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
        color: #fff;
        text-decoration: none;
    }
}