* {
    margin: 0;
}

html {
    background-color: #beb5b0
    ;
}

.splash {
    width: 100%;
    height: 300px;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center 34%;
        filter: brightness(70%);
        z-index: 99;

    }
}

.splashTitle {
    h1 {
        text-align: center;
        font-size: 100px;
        font-family: 'Coming Soon', cursive;
        margin-top: -240px;
        color: white;
        position: relative;
    }

}